[gerrit]
        basePath = git
        canonicalWebUrl = http://localhost:8080/
        changeScreen = OLD_UI
[database]
        type = {{db_type}}
        database = {{db_name}}
#        hostname = {{db_host}}
#        username = {{db_user}}
#        password = {{db_password}}

[index]
        type = LUCENE

[auth]
        type = {{gerrit_auth_type}}
[sendemail]
        smtpServer = localhost
        from = MIXED
[container]
        user = {{gerrit_user}}
        javaHome = {{java_home}}
[sshd]
        listenAddress = *:29418
[httpd]
        listenUrl = http://*:8080/
[cache]
        directory = cache
[mimetype "image/*"]
        safe = true
[mimetype "text/yaml"]
        safe = true
[mimetype "text/xml"]
        safe = true
[mimetype "text/rst"]
        safe = true
[mimetype "text/plain"]
        safe = true
[mimetype "text/html"]
        safe = true
[mimetype "text/pp"]
        safe = true

